/viikko2/teht9/Verkkokauppa1/.nb-gradle/
/viikko3/nhlreader/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/WebLogin/.nb-gradle/
/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MockitoDemo/build/
/viikko4/MaksukorttiMockito/.nb-gradle/
/viikko4/MaksukorttiMockito/build/
/viikko4/Verkkokauppa/.nb-gradle/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/.nb-gradle/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/.nb-gradle/
/viikko4/Tennis/build/